;;; .emacs --- the init file

;;; Commentary:
;;; Simplified init file.

;;; Code:
;;; This uses org-babel-load-file to create a lisp script.
(org-babel-load-file (expand-file-name "emacs-config/configuration.org" user-emacs-directory))
;;; .emacs ends here
