;;; .emacs --- the init file

;;; Commentary:
;;; Simplified init file.

;;; Code:
;;; This uses org-babel-load-file to create a lisp script.
(defvar walheimat-emacs-config-default-path (expand-file-name "emacs-config" user-emacs-directory))

(let ((gc-cons-threshold most-positive-fixnum))
  (org-babel-load-file (expand-file-name "configuration.org" walheimat-emacs-config-default-path))
)
;;; .emacs ends here
