{
  "branches": [
    "trunk"
  ],
  "repositoryUrl": "git@github.com:Walheimat/wal-emacs.git",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "refac",
            "release": "patch"
          },
          {
            "type": "config",
            "release": "patch"
          },
          {
            "type": "improve",
            "release": "patch"
          },
          {
            "type": "binding",
            "release": "patch"
          }
        ],
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES"
          ]
        }
      },
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "Features"
            },
            {
              "type": "config",
              "section": "Features"
            },
            {
              "type": "fix",
              "section": "Bug Fixes"
            },
            {
              "type": "refac",
              "section": "Features"
            },
            {
              "type": "binding",
              "section": "Bindings"
            },
            {
              "type": "improve",
              "section": "Features"
            },
            {
              "type": "chore",
              "hidden": true
            },
            {
              "type": "docs",
              "hidden": true
            },
            {
              "type": "style",
              "hidden": true
            },
            {
              "type": "test",
              "hidden": true
            },
            {
              "type": "ci",
              "hidden": true
            }
          ]
        }
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "make update-next-version NEXT_PACKAGE_VERSION=${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogTitle": "# Changelog"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "wal.el",
          "lib/wal-config.org",
          "Makefile"
        ]
      }
    ]
  ]
}
