{
  "branches": ["trunk"],
  "repositoryUrl": "git@github.com:Walheimat/wal-emacs.git",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          {
            "type": "config",
            "release": "patch"
          },
          {
            "type": "binding",
            "release": false
          },
          {
            "type": "improve",
            "release": "patch"
          },
          {
            "type": "refac",
            "release": "patch"
          }
        ],
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "Features"
            },
            {
              "type": "config",
              "section": "Configurations"
            },
            {
              "type": "fix",
              "section": "Bug Fixes"
            },
            {
              "type": "improve",
              "section": "Improvements"
            },
            {
              "type": "docs",
              "section": "Improvements"
            },
            {
              "type": "refac",
              "hidden": true
            },
            {
              "type": "chore",
              "hidden": true
            },
            {
              "type": "ci",
              "hidden": true
            },
            {
              "type": "test",
              "hidden": true
            },
            {
              "type": "binding",
              "section": "Other"
            },
            {
              "type": "perf",
              "section": "Other"
            }
          ]
        }
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "make update-next-version NEXT_PACKAGE_VERSION=${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogTitle": "# Changelog"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md", "wal.el", "lib/wal-config.org", "Makefile"]
      }
    ]
  ]
}
